[user]
    name = Tapasweni Pathak
    email = tapaswenipathak@gmail.com
[credential]
    helper = cache --timeout=3600
[sendmail]
    from = Tapasweni Pathak<tapaswenipathak@gmail.com>
    smtpserver = imap.gmail.com
[core]
    editor = vi
    excludesfile = ~/.gitignore
[alias]
    rau = remote add upstream
    fu = fetch upstream
    cm = checkout master
    mum = merge upstream/master
    amend = commit --amend --all
    st = status
    cl = clone
    c = commit -am
    fpush = push --force
    hrst = reset --hard
    co = checkout
    gl = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
    s = "!f(){ git reset --soft HEAD~${1} && git commit --edit -m\"$(git log --format=%B --reverse HEAD..HEAD@{1})\"; };f"
    r = shortlog -sn --no-merges
    dbm = "!git branch --merged | grep -v '*' | xargs -n 1 git branch -d"
    tom = !git branch --merged master | grep -Ev \"(staging)\"
    dws = git diff -U0 -w --no-color | git apply --cached --ignore-whitespace --unidiff-zero -
    nuke = !git co master && sh -c 'git br -d $1' -
    lg = log -p
    me = config user.name
[color]
    ui = always
[color "diff"]
    meta = green bold
    commit = blue bold
    old = red bold
    new = magenta bold
[color "branch"]
    current = green bold
    local = blue bold
    remote = magenta
[color "status"]
    added = green bold
    changed = blue bold
    untracked = magenta
[help]
    autocorrect = 1
[fetch]
    prune = true
[stash]
    showPatch = true
